* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
header a {
    margin: 20px;
    font-size: 24px;
}
header h1 {
    margin: 20px;
    font-size: 24px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    width: 50%;
}
#title-paragraph {
    font-size: 28px;
}

#buttons {
    display: flex;
    flex-direction: column;
    /* justify-content: left;
    align-self: flex-start;
    width: 100%; */
}
#buttons button {
    margin: 5px;
    padding: 10px;
    color: white;
    background-color: purple;
    border-radius: 10px;
    font-size: 20px;
}
#buttons button:hover {
    background-color: rgb(182, 5, 182);
}
